html {
  --primary-dark-color: hsl(167, 19%, 18%);
  --primary-color: hsl(167, 19%, 38%);
  --primary-light-color: hsl(167, 19%, 58%);

  --page-background-color: white;
  --page-foreground-color: hsl(167, 19%, 18%);
  --page-secondary-foreground-color: hsl(167, 19%, 38%);
}
